env
portfolio/media
portfolio/static

__pycache__/
*.py[cod]
*.pyo
.DS_Store

# Django #
*.log
*.pot
*.pyc
*.py[cod]
__pycache__/
db.sqlite3
db.sqlite3-journal
media/
.env
*.env

# If you're using Django migrations, ignore migration files
*/migrations/*.pyc
*/migrations/__pycache__/

# Ignore virtual environments
venv/
env/

# VS Code files
.vscode/